pre {
    margin: 0px 0px 15px 0px;
    padding: 5px 10px 5px 10px;
    font-family: monospace;
    color: #000000;
    font-size: 12px;
    line-height: 18px;
    border-style: double;
    border-width: 0px 0px 0px 3px;
    border-color: #FFFFFF #FFFFFF #FFFFFF #000000;
}
